/// COLORS Glossary
/// Version: 1.0.0
/// NOTE: variables form this file should not be used directly in the stylesheets
///       - CSS custom properties are recommended
$c-white:                         #fff;
$c-white-10:                   rgba($c-white, .1);
$c-white-15:                   rgba($c-white, .15);
$c-white-40:                   rgba($c-white, .4);

$c-cultured:                      #eee;
$c-battleship-grey:               #888;
$c-ebony:                         #525c52;
$c-dim-grey:                      #696969;
$c-sonic-silver:                  #777;
$c-davys-grey:                    #494949;
$c-eerie-black:                   #1f1f1f;
$c-rich-black-forga-29:           #101d2c;
$c-black:                         #000;

$c-black-10:                  rgba($c-black, .1);
$c-black-30:                  rgba($c-black, .3);
$c-black-50:                  rgba($c-black, .5);

$c-lemon-meringue:                #faf0ca;
$c-orange-yellow-crayola:         #f4d35e;
$c-sandy-brown:                   #ee964b;
$c-orange-soda:                   #f95738;
$c-rosy-brown:                    #351f1c;
$c-cinnabar:                      #e74c3c;
$c-orange-soda:                   #f95738;
$c-rosy-brown:                    #bc8882;
$c-rose-taupe:                    #925757;
$c-rose-taupe-70:              rgba($c-rose-taupe, .7);


$c-emerald:                       #2ecc71;
$c-polished-pine:                 #3d9b93;

$c-alice-blue:                    #e1f1ff;
$c-baby-blue-eyes:                #9dd1ff;
$c-french-sky-blue:               #60a9ff;
$c-carolina-blue:                 #3498db;
$c-blue-jeans:                    #48aaff;
$c-dodger-blue:                   #348efe;
$c-blue-crayola:                  #016ff9;
$c-indigo-blue:                   #0d3b66;
$c-dark-liver:                     #444451;

$c-rhythm:                        #7c7b9c;
