/// Shadow variables
/// Version 1.1

$shadow-dark-box: 0 convert-rem(20px) convert-rem(60px) #{$c-black-30};
$shadow-container: 0 convert-rem(2px) convert-rem(10px) #{$c-black-30};
$shadow-screen: 0 convert-rem(3px) convert-rem(10px) #{$c-rose-taupe-70};
