/// Used to initialize the default properties for a column class, most notably for setting width and default gutters when a column's breakpoint has not been hit yet.
/// @param {Number} $gutter [$grid-gutter] - The gutter for the grid system
/// @param {Number} $collapsed-gutter [$grid-gutter--condensed] - The condensed mode gutter
/// 1. Prevent columns from becoming too narrow when at smaller grid tiers by always setting `width: 100%;`. This works because `flex` values are used later on to override this initial width.///// 2. For condensed use-case, the gutters collapse to 2px solid, 1px on each side.
/// 3. For the narrow use-case, our container hangs 16px into the gutter

@mixin make-col-ready(
  $gutter: $grid-gutter,
  $condensed-gutter: $grid-gutter--condensed
) {
  /* 1 */
  width: 100%;
  padding-right: $gutter * .5;
  padding-left: $gutter * .5;

  /* 2 */
  .row--condensed &,
  .grid--condensed & {
    padding-right: $condensed-gutter * .5;
    padding-left: $condensed-gutter * .5;
  }

  /* 3 */
  .row--narrow &,
  .grid--narrow & {
    padding-right: $gutter * .5;
    padding-left: 0;
  }
}
