@use "sass:map";
/// Create the container for a grid. Will cause full-bleed for the grid unless
/// max-width properties are added with `make-container-max-widths`
/// @param {Map} $breakpoints [$breakpoints] - A map of breakpoints where the key is the name

@mixin make-container($breakpoints: $breakpoints) {
  margin-right: auto;
  margin-left: auto;

  @include set-max-width-by-largest-breakpoint();

  @each $name, $value in $breakpoints {
    $prev-breakpoint: map.get($breakpoints, breakpoint-prev($name));
    $margin: map.get($value, margin);

    @if $prev-breakpoint {
      $prev-margin: map.get($prev-breakpoint, margin);
      @if $prev-margin != $margin {
        @include breakpoint($name) {
          padding-right: #{($grid-gutter * .5) + $margin};
          padding-left: #{($grid-gutter * .5) + $margin};
        }
      }
    } @else {
      @include breakpoint($name) {
        padding-right: #{($grid-gutter * .5) + $margin};
        padding-left: #{($grid-gutter * .5) + $margin};
      }
    }
  }
}
