/// Define the properties for a selector assigned to a row in the grid system.
/// @param {Number} $gutter [$grid-gutter] - The gutter in the grid system
/// @access private

@mixin make-row($gutter: $grid-gutter) {
  @include flex();
  flex-wrap: wrap;
  margin-right: -1 * $gutter * .5;
  margin-left: -1 * $gutter * .5;
}
