/// Add `hang--start` and `hang--end` classes for a given gutter. These classes are
/// used alongside `no-gutter--start` and `no-gutter--end` to "hang" type.
/// @param {Number} $gutter [$grid-gutter] - The gutter in the grid system
/// @access private
@mixin hang($gutter: $grid-gutter) {
  .hang--start {
    padding-left: $gutter * .5;
  }

  .hang--end {
    padding-right: $gutter * .5;
  }

  // Deprecated ☠️
  .hang--left {
    padding-left: $gutter * .5;
  }

  .hang--right {
    padding-right: $gutter * .5;
  }
}
