@use "sass:meta";
@use "sass:math";

/// Define the width of the column for a given span and column count.
/// A width of 0 will hide the column entirely.
/// @param {Number} $span - The number of columns covered
/// @param {Number} $columns - The total number of columns available
@mixin make-col($span, $columns) {
  @if $span == 0 {
    display: none;
  } @else {
    // Explicitly include `display: block` to override
    display: block;
    // Add a `max-width` to ensure content within each column does not blow out
    // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
    // do not appear to require this.
    @if meta.function-exists("div", "math") {
      max-width: math.percentage(math.div($span, $columns));
      flex: 0 0 math.percentage(math.div($span, $columns));
    } @else {
      max-width: math.percentage(($span / $columns));
      flex: 0 0 math.percentage(($span / $columns));
    }
  }
}
