@use "sass:meta";
@use "sass:math";

/// Create a column offset for a given span and column count.
/// @param {Number} $span - The number of columns the offset should cover
/// @param {Number} $columns - The total number of columns available
/// @access private
@mixin make-col-offset($span, $columns) {
  $offset: 0;
  @if meta.function-exists("div", "math") {
    $offset: math.div($span, $columns);
  } @else {
    $offset: ($span / $columns);
  }
  @if $offset == 0 {
    margin-left: 0;
  } @else {
    margin-left: math.percentage($offset);
  }
}
