@import "./constants/grid-gutter.scss";
@import "./functions/functions.scss";
@import "./mixins/mixins.scss";

/// Generate the CSS for a grid for the given breakpoints and gutters
/// @param {Map} $breakpoints [$breakpoints] - The default breakpoints
/// @param {Number} $grid-gutter [$grid-gutter] - The default gutters
/// @param {Number} $condensed-gutter [$grid-gutter--condensed] - The condensed mode gutter
/// @access public
@mixin generate-grid(
  $breakpoints: $breakpoints,
  $grid-gutter: $grid-gutter,
  $condensed-gutter: $grid-gutter--condensed
) {
  .grid {
    @include make-container($breakpoints);

    @include largest-breakpoint($breakpoints) {
      @include m("full-width") {
        max-width: 100%;
      }
    }

    @include m("condensed") {
      [class*="col"] {
        padding-top: $condensed-gutter * .5;
        padding-bottom: $condensed-gutter * .5;
      }
    }
  }

  .row {
    @include make-row();
  }

  .row-padding [class*="col"],
  .col-padding {
    padding-top: $grid-gutter * .5;
    padding-bottom: $grid-gutter * .5;
  }
}
